[submodule "themes/hugo-universal-theme"]
	path = themes/hugo-universal-theme
	url = https://github.com/devcows/hugo-universal-theme
[submodule "layouts/shortcodes"]
	path = layouts/shortcodes
	url = https://github.com/Runzelee/aplayer-hugo-module.git
[submodule "themes/KeepIt"]
	path = themes/KeepIt
	url = https://github.com/Fastbyte01/KeepIt.git
